*{
    box-sizing: border-box;
}
header{
    height: 500px;
    border: solid 2px black;
    background: rgb(102, 118, 138);
    display: block;
}
.header{
    font-family:'Oswald' ,'Courier New', Courier, monospace;
    font-size: 13px;
    display: inline;
    float: left;
    padding: 20px;
}
header img{
    position: relative;
    left: 550px;
}
.donate{
    color: rgb(102, 118, 138);
    margin-top: 15px;
    margin-right: 20px;
    font-size: 15px;
    padding-top: 5px;
    font-weight: 600;
    background: white;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    float: right;
}
h1, h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Oswald' ,'Courier New', Courier, monospace;
}
h1, header p{
    color: white;
    font-family:'Oswald' ,'Courier New', Courier, monospace;
}
h1{
    margin-top: 60px;
    font-size: 40px;
    font-weight: 400;
}
p{
    font-size: 17px;
}
.video{
    color: white;
    position: relative;
    left: 660px;
    top: 25px;
}
span{
    color: white;
    font-family:'Lato' ,'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}
header p{
    margin-right:400px ;
    margin-left: 400px;
}
.smallText{
    color: rgb(68, 68, 68);
    font-size: 12px;
    display: flex;
    align-self: flex-end;
    margin-top: 120px;
    font-style: italic;
}
h2{
    font-family:'Oswald' ,'Courier New', Courier, monospace;
    font-weight: 500;
}
.why{
    height: 300px;
    border:black 2px solid;
}
h2{
    margin-top: 70px;
}
.why p{
    margin-left: 500px;
    margin-right: 500px;
}
main{
    height: 500px;
    border: black 2px solid;
    background: rgb(219, 223, 226);
}
div{
    height:150px;
    width: 250px;
    background:rgb(102, 118, 138);
}
.block1{
position: relative;
}
.main1{
    position: relative;
    top: 50px;
    left: 400px;
}
.main2{
margin-left: 300px;
margin-top: -100px;
position: relative;
left: 600px;
}
h3{
    font-family:'Oswald' ,'Courier New', Courier, monospace; 
    font-weight: 400;
    margin-left: 65px;
}
main p{
    margin-left: -50px;
    margin-right: -50px;
}
main span{
    color: black;
    border: solid 1px gray;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    font-family:'Oswald' ,'Courier New', Courier, monospace;
}
section{
    height: 400px;
    border: black 2px solid;
}
section p{
    margin-right: 500px;
    margin-left: 500px;
}
section span{
    color: black;
    font-family:'Oswald' ,'Courier New', Courier, monospace;
    border: solid 1px gray;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 650px;
    margin-left: 650px;
}
footer{
    height: 300px;
    border: solid 2px black;
    background: rgb(22, 31, 42);
}
.footer{
    display: inline;
}
footer span{
    display: flex;
    justify-content: flex-start;
}
.darkFooter{
    font-size: 10px;
    color: rgb(82, 96, 114);
    font-weight: 800;
    margin-top: 15px;
    margin-left: 15px;
}
.socials{
    margin-top: 20px;
}
.footer{
    margin-top: 10px;
    margin-left: 15px;
}
.footerLeft{
    background: none;
    margin-left: 10px;
}
.footerRight{
    float: right;
    background: none;
    margin-top: -100px;
}
.footerRight span{
   font-weight: 600; 
   margin-bottom: 5px;
}
.footerRight p{
    color: rgb(196, 195, 195);
    font-family:'Lato' ,'Courier New', Courier, monospace;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.footerBottom{
    color: white;
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
    border-top: solid 2px rgb(206, 204, 204);
    padding-top: 5px;
}
.footerImg{
   float: right;
   margin-top: -20px;
   margin-right: 30px;
}